<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <!-- <h3>All Listings</h3> -->
    <div id="filters">
        <a href="/listings/filter/mountains" class="filter <%= activeCategory === 'mountains' ? 'active' : '' %>">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </a>

        <a href="/listings/filter/swimming_pool" class="filter <%= activeCategory === 'swimming_pool' ? 'active' : '' %>">
            <div><i class="fa-solid fa-water-ladder"></i></div>
            <p>Swimming Pool</p>
        </a>

        <a href="/listings/filter/beach" class="filter <%= activeCategory === 'beach' ? 'active' : '' %>">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </a>

        <a href="/listings/filter/river_side" class="filter <%= activeCategory === 'river_side' ? 'active' : '' %>">
            <div><i class="fa-solid fa-water"></i></div>
            <p>River-Side</p>
        </a>

        <a href="/listings/filter/iconic_cities" class="filter <%= activeCategory === 'iconic_cities' ? 'active' : '' %>">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </a>

        <a href="/listings/filter/camping" class="filter <%= activeCategory === 'camping' ? 'active' : '' %>">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>

        <a href="/listings/filter/farms" class="filter <%= activeCategory === 'farms' ? 'active' : '' %>">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </a>
        <% if(allListings.length){%>
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display taxes</label>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% if(allListings.length===0){%>
            <p style="margin-left: 15rem; font-size: x-large; margin-top: 2rem; text-align:end;">No Listing Found!</p>
        <% } else {%>    
            <%for(let list of allListings){%>
                <a href="/listings/<%=list._id%>">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img src="<%=list.image.url%>" class="card-img-top" style="height: 20rem" alt="listing-img">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                        <p class="card-text">
                            <b><%=list.title%></b><br>
                            &#8377 <%=list.price.toLocaleString("en-IN")%>/night 
                            <i class="tax-info"> &nbsp &nbsp +&#8377 <%= list.taxAmount.toLocaleString("en-IN") %> GST</i>
                        </p>
                        </div>
                    </div>
                </a>
            <%}%> 
        <% } %> 
    </div>
</body>

<script src="/JS/taxSwitch.js"></script>
